# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.egg
*.egg-info/
dist/
build/
.eggs/
*.manifest
*.spec

# Django
*.log
*.pot
*.pyc
local_settings.py
db.sqlite3
media/
staticfiles/

# Environments
.env
.env.*

# VSCode / PyCharm / IDE
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Byte-compiled and cache
*.~*
*.swp
*.bak

# Pip tools
pip-wheel-metadata/
pip-log.txt

# coverage/test
htmlcov/
.coverage
.tox/
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.cache

# MyPy
.mypy_cache/
.dmypy.json

# Black, Ruff, etc.
.pytest_cache/
ruff_cache/
.cache/
